body{
    margin: 0px;

}

main{
    background-color: rgb(50, 135, 205);
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

article{
    background-color: violet;
    color: rgb(7, 3, 224);
    text-align: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.tem3{
    grid-column-start: 1;
    grid-column-end: 3;
}